/* Styles for navigation elements */
nav {
    background-color: cyan;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    position: relative;
}

nav ul li a {
    display: block;
    padding: 10px;
    color: #050505;
    text-decoration: none;
}

nav ul li:hover > ul {
    display: block;
}

/* Styles for dropdown menus */
nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    background-color: rgb(168, 6, 243);
}

nav ul ul li {
    width: 200px;
    float: none;
    display: list-item;
    position: relative;
}

nav ul ul li a {
    padding: 10px;
    color: #b007f3;
}

nav ul ul li a:hover {
    background-color: #008080;
}

#link {
    color: #ea00ff;
    font-weight: bold;
    text-decoration: underline;
    font-size: 48px
}

#git {
    background: linear-gradient(to right, fuchsia, cyan);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 15px;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
}